@charset "UTF-8";
@import 'styles/theme';

@import "node_modules/bootstrap/scss/bootstrap.scss";
@import '~antd/dist/antd.css';

@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,600,700,800&display=swap);

main, #root, body, html {
  height: 100%;
}

.editor-modal {
  max-width: 80% !important;

  & > .modal-content {
    max-height: 90vh !important;
    //overflow-y: auto;

    & > .modal-header {
      max-height: 10vh;
    }

    & > .modal-body {
      max-height: 80% !important;
      overflow-y: auto;
    }

    & > .modal-footer {
      max-height: 10vh;
    }
  }
}

.page-content {
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
}

.dashboard-widget {
  .card-img-top {
    height: 250px;
  }
}

.badge-top-right {
  position: absolute;
  top: -2px;
  right: -2px;
}

.badge-top-left {
  position: absolute;
  top: -2px;
  left: -2px;
}

button.btn {
  svg {
    margin-right: 8px;
  }
}

.data-table-actions {
  padding-bottom: 10px;
  float: right;
}

.tab-content {
  padding: 20px;
  padding-bottom: 75px;
}

.docs-content {
  padding-bottom: 50px;
}