@charset "UTF-8";
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "styles/variables";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

main, #root, body, html {
  height: 100%;
}

.ant-radio-group {
  display: block;
}

* {
  font-family: 'Lato', sans-serif;
  text-rendering:optimizeLegibility;
}

.editor-modal {
  max-width: 80% !important;

  & > .modal-content {
    max-height: 90vh !important;
    //overflow-y: auto;

    & > .modal-header {
      max-height: 10vh;
    }

    & > .modal-body {
      max-height: 80% !important;
      overflow-y: auto;
    }

    & > .modal-footer {
      max-height: 10vh;
    }
  }
}

.page-content {
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
}

.badge-top-right {
  position: absolute;
  top: -2px;
  right: -2px;
}

.badge-top-left {
  position: absolute;
  top: -2px;
  left: -2px;
}

button.btn {
  svg {
    margin-right: 8px;
  }
}

.data-table-actions {
  padding-bottom: 10px;
  float: right;
}

.ant-page-header-heading-title {
  font-size: 24px;
}

.ant-page-header-heading-sub-title {
  color: rgba(0, 0, 0, 0.75);
  font-size: 18px;
}

.tab-content {
  padding: 20px;
  padding-bottom: 75px;
}

.docs-content {
  padding-bottom: 50px;
}

form.has-actions {
  padding-bottom: 80px !important;
  position: relative;
}
