.course-progress-bar {
  padding-bottom: 6px;
  margin-bottom: 15px;

  .course-completion-percentage-text {
    text-shadow: 1px 1px 1px rgba(0,0,100,0.5);
  }

  .card-body {
    padding: 6px;
  }
}