$sidebar-width: 250px;
$navbar-height: 75px;
$content-width: calc(100vw - #{#sidebar-width});

.content-with-sidebar {
  min-width: $content-width;
  max-width: $content-width;
  transition: all 0.5s;
  position: relative;
  top: $navbar-height;
  left: $sidebar-width;

  &.sidebar-open {
    margin-left: 0;
  }
}