$sidebar-width: 250px;
$navbar-height: 75px;
$content-width: calc(100vw - #{$sidebar-width});

.content-with-sidebar {
  min-width: $content-width;
  max-width: $content-width;
  transition: all 0.5s;
  position: relative;
  height: 100vh;
  overflow-y: auto;
  left: $sidebar-width;
  padding: 25px;

  &.sidebar-open {
    margin-left: 0;
  }
}